html,body{
    font-size: 100%;
    height: 100%;
    width: 100%;
    margin:auto;
    background-color:black;
}

/* .image {
    height: 100%;
    width:100%;
    background-size:cover;
    background-image: url("../images/ShilajDai.jpg");
    background-position:center;
    
} */
.text{
    color: rgb(209, 200, 200);
    margin:1rem;
    font-size: 1.73vw;
    font-variant: small-caps;
    font-family:Helvetica Neue;
    width: 30rem;
    height: 6rem;
    letter-spacing: 3px;
    /* text-align:justify; */
    text-shadow: 0.5px 0.5px rgb(209, 200, 200);
}
.link{
    color: rgb(209, 200, 200);
    
}
img{
    border-style:ridge;
    border-radius:100%;
    border-color:rgb(168, 150, 150);
    height: 150px;
}
a{
    color: rgb(209, 200, 200);
    text-decoration: none;
}
li{
    float:right;
    font-size: 1.73vw;
    font-variant: small-caps;
    font-family:Helvetica Neue;
    padding: 15px;
    text-shadow: 0.5px 0.5px rgb(209, 200, 200);

}
ul{
    list-style-type:none;
    word-spacing: 3px;
}
