body {
    background-color: rgb(99, 99, 26);
}
p.fuck {
    text-align: center ;
    font-size: 35px;
    color: rgb(61, 4, 4);
}
ul {
    list-style-type: none;
    padding : 0px;
    margin : 25px;
    overflow: hidden;
    background-color: rgb(68, 31, 31);

}
li {
    display: block;
    float: left;
    padding: 15px;
    font-size: 20px;
}
li a {
    display: block;
    color:rgb(169, 170, 175);
    text-align: center;
    text-decoration: none;
}
li a:hover {
    display: block;
    background-color: rgb(59, 13, 13);

}
li.muji{
    float: right;
    color: rgb(169, 170, 175);
}
img
{
    width: 500px;
    height: 450px;
}
div {
    float: right;
}
b.Namaste
{
 color: rgb(71, 25, 25);
}
p.fuck_you{
    color: rgb(61, 4, 4);
}